
//HEADER
$header-bgc: #fffffa;
$header-navbar-link-color: #5a5a5a;

//NAV
$nav-enlace-color: #5a5a5a;


//FOOTER
$footer-menu-bgc: #3d4351;
$footer-bgc: #20232c;
$footer-right-color: #fff;

//SLIDERS *******************************************
$slider-1-btn-bgc: #b03138;
$slider-1-btn-text-color: #FFF;

$slider-2-btn-bgc: #7b9f6c;
$slider-2-btn-text-color: #FFF;

$slider-3-btn-bgc: #7b9f6c;
$slider-3-btn-text-color: #FFF;

$slider-4-btn-bgc: #7b9f6c;
$slider-4-btn-text-color: #FFF;

$slider-5-btn-bgc: #7b9f6c;
$slider-5-btn-text-color: #FFF;
