
//SLIDER 
$slider-btn-width: 250px;
$slider-btn-height: 50px;
$slider-btn-padding-top: 12px;

//INICIO
$font-weight-slogan: 30px;
//FOOTER
$footer-height: 60px;
$footer-height-movil: 110px;
$footer-height-table: 80px;

$footer-menu-height: 68px;